#title_three,
#title_four {
  margin-top: 70px;
  text-align: center;
  color: teal;
  font-size: 28px;
  font-style: italic;
  font-family: cursive;
  font-weight: bold;
}
#title_three {
  border: solid teal 2px;
  padding: 15px;
  border-radius: 15px;
}
#task_form,
#task_filter,
#row_one {
  text-align: center;
  font-size: 16px;
}

#task_filter {
  width: 100%;
  font-size: 16px;
}

#tasks {
  font-size: 16px;
  text-align: center;
  list-style-type: '✅ ';
}

#clear_task-btn {
  margin: auto;
}

#clear_task-btn,
#butt1 {
  background-color: teal;
  color: white;
}

#new_task {
  width: 100%;
}

#img1 {
  text-align: center;
}
